<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BilgisayarKapatma.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BilgisayarKapatma.Settings1>
            <setting name="oto_baslama" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sifre" serializeAs="String">
                <value>e10adc3949ba59abbe56e057f20f883e</value>
            </setting>
            <setting name="kisayol" serializeAs="String">
                <value>&lt;-F6-&gt;</value>
            </setting>
        </BilgisayarKapatma.Settings1>
    </userSettings>
</configuration>